# Ignorar la carpeta vendor de Composer (donde se instalan PHPMailer y demás dependencias)
backend/vendor/

# Ignorar archivos temporales de Composer
backend/composer.phar

# Ignorar notas de desarrollo
notes.txt

# Ignorar archivos de configuración de la aplicación
.env

# Ignorar archivos de documentación
docs/memoria_txt/
docs/Memoria.pdf
docs/Memoria.txt
docs/Recomendaciones_Memoria.pdf
docs/Recomendaciones_Memoria.txt
docs/5-noviembre-2025.pdf
docs/proyecto_felix_2024ASIR.pdf
docs/referencia_felix.txt