html,
body {
    background-color: #000010;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background: linear-gradient(to bottom, #000010, #16003a);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

canvas {
    display: block;
}

#space {
    opacity: 0;
    transition: opacity 1s ease-in;
}

#space.fade-in {
    opacity: 1;
}

/* FOOTER */
footer {
    height: 3em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
    position: fixed;
    bottom: 0;
    right: 1%;
    width: 100%;
    margin: auto;
    opacity: 0;
    animation: showFooter 0.8s ease forwards 0.2s;
}

@keyframes showFooter {
    to {
        opacity: 1;
    }
}

footer a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    transition: opacity 0.2s ease-in;
}

footer a:hover {
    opacity: 0.8;
}

footer p img {
    height: 2.5em;
}


/* Contenedor general */
.mensaje-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    /* por encima del canvas y del footer */
}

.hidden {
    display: none;
}

/* Caja principal */
.mensaje-box {
    width: 700px;
    background: rgba(80, 70, 110, 0.85);
    border-radius: 20px;
    padding: 30px;
    position: relative;
    box-shadow: 0px 0px 20px #0006;
    animation: popIn 0.25s ease-out;
}

@keyframes popIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Logo */
.logo {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 40px;
}

/* Parte superior */
.top-info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.avatar {
    width: 70px;
    border-radius: 100%;
    margin-right: 15px;
}

.user-info {
    color: white;
    font-family: sans-serif;
}

.user-info .nombre {
    font-weight: bold;
    display: block;
}

.report-btn {
    margin-left: auto;
    background: #e63946;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 22px;
}

/* Mensaje */
.mensaje-texto {
    background: white;
    padding: 25px;
    border-radius: 10px;
    min-height: 180px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}

/* Reacciones */
.reacciones {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.reacciones button {
    background: white;
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.15s;
}

.reacciones button:hover {
    transform: scale(1.2);
}